body {
    /*
    background-color: white;
    margin: 20px;
*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}


p {
    line-height: 1.5em;
}

nav {
    position: fixed;
    margin: 0;
    z-index: 1;
}

nav li a {
    font-family: 'primetime';
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(224, 221, 221, 0.62);
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #b7b7b7;
}

#stilart .blue {
    color: #277493;
}

#video .blue {
    color: #277493;
}

#redesign .blue {
    color: #277493;
}



hr {
    width: 100%;
    height: 1px;
    background-color: black;
    border: none;
}

#footer .icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}


#footer .icons .icon {
    width: 50px;
    height: 50px;
    margin: 10px;
    position: relative;
    text-align: center;
    justify-content: center;
}

#footer .footertext {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.text_port {
    text-align: center;
}

/*
body {
    background-color: #e0dddd;
    margin: 0;
}


nav {
    float: right;
    margin: 0;
}

nav li a {
    font-family: 'primetime';
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e0dddd;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #9b9797;
}
*/

.link {
    filter: brightness(70%);
}

.link:hover {

    filter: brightness(100%);
}

img {
    width: 100%;
    height: 100%;
}

.overskrift h1 {
    margin-top: 100px;
    margin-left: 120px;
    margin-bottom: 0;
}

/*portfolio-site styles*/

#portfolio img {
    width: 100%;
    height: 100%;
    min-width: 250px;
}


.text-block {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: black;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}


#portfolio .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 100px;
}

#portfolio .container {
    flex-grow: 1;
    flex-basis: 300px;
    position: relative;
    padding: 10px 10px 10px 10px;
    text-align: center;
    margin: 20px;
}

/*stilartsite style*/

#stilart .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
}

#stilart .column {
    flex-grow: 1;
    flex-basis: 200px;
    position: relative;
    margin: 20px;
}

#stilart .columnn {
    flex-grow: 1;
    flex-basis: 400px;
    position: relative;
    margin: 20px;
}

#stilart h2 {
    margin: 0;
    padding: 0;
}

#stilart img {
    width: 100%;
    height: 60%;
    margin-top: 45px;
}

#stilart .previous round a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

#stilart a:hover {
    background-color: #ddd;
    color: black;
}

.previous {
    background-color: #f1f1f1;
    color: black;
}

.round {
    border-radius: 90%;
}

/*video-site styles*/

#video .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
}

#video .column {
    flex-grow: 1;
    flex-basis: 300px;
    position: relative;
    margin: 20px;
}

#video h2 {
    margin: 0;
    padding: 0;
}

#video .previous round a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

#video a:hover {
    background-color: #ddd;
    color: black;
}

.previous {
    background-color: #f1f1f1;
    color: black;
}

.round {
    border-radius: 70%;
}

/*redesign-site styles*/

#redesign .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
}

#redesign .column {
    flex-grow: 1;
    flex-basis: 300px;
    position: relative;
    margin: 20px;
}

#redesign h2 {
    margin: 0;
    padding: 0;
}

#redesign img {
    width: 100%;
    height: 60%;
    margin-top: 70px;
}


#redesign .previous round a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

#redesign a:hover {
    background-color: #ddd;
    color: black;
}

.previous {
    background-color: #f1f1f1;
    color: black;
}

.round {
    border-radius: 70%;
}

/*virksomhed-site styles*/

#virksomhed .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
}

#virksomhed .column {
    flex-grow: 1;
    flex-basis: 300px;
    position: relative;
    margin: 20px;
}

#virksomhed h2 {
    margin: 0;
    padding: 0;
}

#virksomhed img {
    width: 100%;
    height: 50%;
    margin: 20px;
    padding: 0;
}


#virksomhed .previous round a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

#virksomhed a:hover {
    background-color: #ddd;
    color: black;
}

.previous {
    background-color: #f1f1f1;
    color: black;
}

.round {
    border-radius: 70%;
}

@media screen and (max-width:700px) {
    #portfolio .sectionwrapper {
        margin: 0 auto;
    }
}
